# InteliJ/Pycharm
.idea

# Generated Eggs
*.egg-info

# OS Specific
.DS_Store
**/.DS_Store

# Python Binaries
*.py[oc]
.cache/
__pycache__

# Unit test / coverage reports
**/junit/**
htmlcov/
.tox/
test
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

#Building
build/
dist/

# IDE/Localconfig
.direnv
.envrc
.vscode
local/
.python-version

# Testing
htmlcov
**junit**
.coverage
coverage.xml

# Execution trace files
traces/
*.trace

# License tools
lf_logs

# Project specific
lib
